*.exe
*.exe~
*.meta

/srv/bin
/srv/pkg
/srv/src/github.com
/srv/src/golang.org
/srv/src/gopkg.in
/srv/db/dirlock
/srv/db/log_file
/srv/src/.vscode/*

/app/.vs/*
/app/Library/*
/app/Packages/*
/app/obj/*
/app/Temp/*
/app/Builds/*